body{
    margin:0px;
}







p.subtitle{
    font-size: 16px;
    font-weight: bold;

}
.menu {
    overflow: hidden;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
li :hover{
    background-color:rgba(50, 29, 9, 0.507); 
}
nav>ul{
    margin: 30px 2px 2px 2px; 
}
nav>ul>li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: auto 33px auto 33px;
    display: inline-block;
    padding: 1px;
    border: 1px;
}
#header{
    text-align: center;
    overflow: hidden;
    padding: 15px 30px 0 0;
    height: 20%;
    width: 100%;
    background-image: url(../LPTI119_DIACK_CheikhMohamedTidiane_DIAO_Aida/PicsArt_03-20-01.26.58.jpg);
    background-size: cover;
}
img.logo {
    width: 20%;
}






#content{
    width: 100%;
    display: inline-block;
    background-image: url(../LPTI119_DIACK_CheikhMohamedTidiane_DIAO_Aida/organisation-voyage.jpg);
    background-size: contain;
}
#vidcolor{
    margin: 2% 25% 2% 27%;
    background-color:rgba(50, 29, 9, 0.507);
    border-radius: 3%;
    width: 45%;
    height: 350px;
}
#un, #deux{
    text-align: center;
}
#blocun{
    float: left;
    margin: 2% 1px 2% 45px;
    width: 45%;
    height: 500px;
    border-radius: 3%;
    background-color:rgba(50, 29, 9, 0.507);
}
#blocdeux{
    float: right;
    margin: 2% 45px 2% 1px;
    width: 45%;
    height: 500px;
    border-radius: 3%;
    background-color:rgba(50, 29, 9, 0.507);
    border-radius: 3%;
    background-color:rgba(50, 29, 9, 0.671);
}
video{
    margin: 2% auto 2% 10%;
    width: 80%;
}

img.palaisguell, img.templesensoji, img.plagesmaldives, img.singapour{
    text-align: center;
    height: 313px;
    display: block;
    margin: 3% auto 20px auto;
}
h3{
    margin: 5% 33% 10px 33%;
    text-align: center;
    color:white;;
    border: 2px dashed white;
    border-radius: 5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    text-align: center;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin: 1% 1% 1% 1%;
}








.citation{
    float: right;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    margin: 10% 2% 10% 2%;
}
form {
    text-align: center;
    float: left;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
label {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:1px 20% 1px 20%;
    display: block;
}
#footer{
    width: 100%;
    height: 300px;
    background-image: url(../LPTI119_DIACK_CheikhMohamedTidiane_DIAO_Aida/19066.jpg);
    background-size: cover;
}
.footercontainer{
    background-color:rgba(50, 29, 9, 0.507);
    display: inline-block;
    width: 100%;
}
input[type=submit]{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:5px auto 3px 30px;
    border-radius: 5px; 
    width: 100px;
    margin: 2px 5px 2px 5px;
    box-shadow: 1px 1px 1px #000000a1;
    cursor: pointer;
}
input, textarea{
    padding: 3px;
    border: 1px solid #002B3B;
    width: 200px;
    border-radius: 5px
}
q{
    float: right;
    color: white;
    font-size: 25px;
}